@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="entypo-"] {
  width: 1em;
  height: 1em;
}

body {
  background: #e3e4e3;
  font-family: 'Raleway', sans-serif;
}


span {
  text-decoration: none;
  color: black;
  font-size: .4em;
}


h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: lightblue;
  font-weight: 100;
  font-size: 2.4em;
  margin: 0;
  border-bottom: 1px solid #999;
  padding-bottom: 0.2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #999;
  color: black;
  font-weight: 100;
  font-size: 2.4em;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 0.25em solid #4298c3;
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  line-height: 1.4em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 10em;
  margin-right: 5em;
  border-radius: 0.5em;
  /* min-width: 15em; */
  width: 40em;
}

.event {
  /* min-width: 20em;
  width: 100%; */
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}

.timeline .event:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
}

.timeline .event:after {
  box-shadow: 0 0 0 0.2em #4298c3;
  left: -3.5em;
  background: #ffffff;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.timeline .event .member-location{
  display: none;
}

.timeline .event:last-of-type .member-location {
  display: block;
}

.member-infos {
  padding: 10px;
}

.member-infos > h1 {
  font-size: 1.4em;
  text-align: left;
  position: relative;
}

.shots-number{
    font-size: .9em;
    position: relative;
    text-align: right;
   
}

.DescriptionFltir-none{
  cursor: pointer;  
  text-indent: 2px;
  display: none;
}

